/* ========== Global Reset ========== */
html, body {
  margin-top: 3rem;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

/* Image wrapper */
.slide-img-wrapper {
  width: 100%;
  height: 100%;
}

/* Actual image */
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  object-position: center;     
  display: block;
  background-color: #ffffff;
  pointer-events: none;
  touch-action: none;
}

/* Hide space below slider */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional navigation styles */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider-wrapper:hover .swiper-button-next,
.slider-wrapper:hover .swiper-button-prev {
  opacity: 1;
}

/* Pagination */
.swiper-pagination-bullet {
  background: rgb(6, 1, 1);
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background: rgb(238, 231, 231);
}

/* Margin for larger screens */
@media (min-width: 1400px) {
  .slider-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Remove margin on small screens */
@media (max-width: 1399px) {
  .slider-wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}